.follow .show-list-title{

}
#backListBtn{
	float: right;
	display: inline-block;
	margin-right: 5%;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #5cb85c;
	border: none;
	color: #fff;
}

.follow .content-list{
	padding-left: 20px;
}
.follow .show p{
	line-height: 30px;
}

@media only screen and (max-width: 540px){
.follow .show-list-title{
	font-size: 16px;
}
.follow .content-list{
	padding-left: 5px;
}
.follow .show .content-list p{
	line-height: 24px;
}
}