.publicRecruit form{
	width: 100%;
}
.publicRecruit form p{
	margin: 10px 0;
}
.publicRecruit form input{
	width: 50%;
	padding: 5px 10px;
	outline: 0;
	border-radius: 6px;
	border: 1px solid #999;
}
.publicRecruit form textarea{
	vertical-align: top;
	border-radius: 10px;
}
.publicRecruit form .changeLine input{
	width: 100px;
}
