.revise .show .changeLine{
	margin-bottom: 10px;
}
.revise .show p{
	line-height: 35px;
}
.revise .show input{
	padding: 2px 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
	outline: none;
}



@media only screen and (max-width: 540px){
.revise .show p{
	line-height: 30px;
}
.revise .show input{
	padding: 1px 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
	outline: none;
}
}