.teacher .show .lineRow{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}
.teacher .progress{
	display: inline-block;
	width: 300px;
	height: 15px;
	margin-left: 20px;
	background: #ddd;
	border-radius: 7px;
}
.teacher .progress .bar{
	width: 15%;
	height: 15px;
	line-height: 15px;
	border-radius: 7px;
	background-color: #5cb85c;
	font-size: 8px;
	text-align: center;
	color: #fff;
}

@media only screen and (max-width: 540px){
.teacher .show-list-title{
	font-size: 16px;
}
.teacher .progress{
	display: inline-block;
	width: 70%;
	height: 15px;
	margin-left: 20px;
	background: #ddd;
	border-radius: 7px;
}
.teacher .progress .bar{
	font-size: 10px;
}

}